<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.nickname %>,</h2>
    <p>Your temporary password was sent earlier via email with a link to confirm your profile, please save it.</p>
    <p>Please use this temporary password to log in to your account. Remember to change it to a permanent password after your first login.</p>
    <p>If you have any questions or need assistance, feel free to contact us.</p>
    <p>Thank you!</p>
  </body>
</html>